@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

.header, .content {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.content img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.hero {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
  color: #fff;
  text-align: center;
  width: 60vw;
  z-index: 3;
  transition: all 500ms ease-in-out;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 700;
}

.hero div {
  margin-top: 3rem;
}

.hero .btn {
  display: inline-block;
  background-color: #fff;
  color: #222;
  padding: 1rem .5rem;
  width: 13rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.hero .btn:first-child {
  margin-right: 10px;
}

.hero .btn:first-child:hover {
  background-color: transparent;
  color: #fff;
}

.hero .btn:last-child:hover {
  background-color: #fff;
  color: #222;
}

.glide__slide .glide__slide--active .hero {
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(218, 210, 210, 0.541);
  padding: 1.6rem 0;
  z-index: 999;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 996px;
  margin: 0 auto;
}

.navigation h1 {
  font-size: 2.5rem;
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: .5rem;
}

.nav-link:link, .nav-link:visited {
  color: #fff;
  font-size: 1.7rem;
  padding: .8rem 1rem;
  border-radius: .3rem;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  background-color: #fff;
  color: #222;
}